/* @import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap'); */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Orbitron:wght@400..900&display=swap');



:root {
    --cor-primaria: #0033A0;
    --cor-secundaria: rgb(248, 241, 172);
    --cor-terciaria: #FFD700;
    --cor-quaternaria: #FFFFFF;
    --cor-hover: #272727;

    --fonte-primaria: 'Inter', sans-serif;
}

* {
    color: var(--cor-primaria);
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    /* max-width: 100%; */
    overflow-x: hidden;
}

.cabecalho {
    background-color: var(--cor-terciaria);
    padding: 5px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* gap: 100px; */
}

.cabecalho__icone {
    width: 20%;
    padding: 0 0 0 100px;
}
.cabecalho__texto {
    width: 60%;
    font-family: 'Orbitron', sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
    font-style: italic;    
    text-decoration-line: underline;
    letter-spacing: 0.48rem;
}

.principal {
    height: 100vh;
    background-color: var(--cor-secundaria);
    padding: 40px 80px 40px 160px ;
    display: flex;
    justify-content: center;
    gap: 80px;
}

.principal__conteudo {
    width: 680px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;    
}

textarea {
    background-color: var(--cor-secundaria);
    font-size: 2rem
}

.principal__conteudo__inferior__alerta {
    display: flex;
    align-items: center;
    gap: 1rem;
    background-color: var(--cor-secundaria);
    font-size: 14px;
}

.principal__conteudo__inferior {
    background-color: lightslategray;
}

.principal__conteudo__inferior__botoes {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    background-color: var(--cor-secundaria);
    padding: 15px;
}

.principal__botao__critografar {
    border-radius: 16px;
    background:var(--cor-primaria);
    width: 20.5rem;
    padding: 1.5rem;
    font-size: 16px;
    border: none;
    border-radius: 24px;
    color: var(--cor-secundaria);
}

.principal__botao__critografar:hover{
    font-size: 24px;    
    padding: 1.2rem;
    cursor: pointer;    
    opacity: 0.9;            
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);    
}

.principal__botao__descritografar {
    border-radius: 16px;
    background: lightgray;
    width: 20.5rem;
    padding: 1.5rem;
    font-size: 16px;
    border: none;
    border-radius: 24px;
    color: var(--cor-primaria);
}

.principal__botao__descritografar:hover{
    font-size: 24px;    
    padding: 1.2rem;
    cursor: pointer;    
    opacity: 0.9;        
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2)
}

.principal__conteudo__resultado {
    width: 480px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* border: 2px solid; */
    border-radius: 32px;
    padding: 40px;
    font-size: 16px;
    text-align: center;
    margin: 0 0 40px 0px;
    background-color: var(--cor-terciaria);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2)
}

.principal__conteudo__resultado__imagem {
    width: 20rem;
}

.principal__conteudo__resultado__texto {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}


.principal__conteudo__resultado__texto__bold {
    font-size: 24px;    
    font-weight: 800;
}

.principal__conteudo__resultado__hover {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* border: 2px solid; */
    border-radius: 32px;
    padding: 40px;
    font-size: 16px;
    text-align: center;
    margin: 0 0 40px 0px;
    background-color: var(--cor-quaternaria);    
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2)
}

#resultado-cripto {
    background-color: var(--cor-quaternaria);
}

.principal__conteudo__resultado__hover__botaocopiar {
    border-radius: 16px;
    background:var(--cor-quaternaria);
    width: 20.5rem;
    padding: 1.5rem;
    font-size: 16px;
    border: solid;
    border-width: 1px;
    border-color: var(--cor-primaria);
    border-radius: 24px;
    color: var(--cor-primaria);
}

.principal__conteudo__resultado__hover__copiar:hover{
    font-size: 24px;    
    padding: 1.2rem;
    cursor: pointer;    
    opacity: 0.9;
    
}

.rodape {
    /* position: fixed;
    bottom: 0;
    left: 0;
    width: 100%; */
    background-color: var(--cor-terciaria);
    padding: 16px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.75rem;
    font-weight: 500;
}

